---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="font-bold pb-2">
    &copy; {today.getFullYear()} Giordano Alvitez
  </div>
  <!-- <div class="inline opacity-75">
    <a href="https://astrofy-template.netlify.app/" target="_blank" class="font-bold">Gio's Site</a>
  </div> -->
</footer>
